# Opdracht week 8

## Vraag 1

Gebruik de cbs API om data op te halen van het cbs. Je mag zelf de tabel kiezen (alleen niet de tabel van de voorbeeldopdracht). Haal eerst de metadata op.

In [48]:
import cbsodata
import numpy as np
import pandas as pd


toc = cbsodata.get_table_list()
toc_list = ''
for toc_sub in toc:
    toc_list += toc_sub.get('Identifier') + ' / '

print (toc_list[:196])

84669NED / 83583NED / 83582NED / 83628NED / 83658NED / 84826NED / 83257NED / 83255NED / 83256NED / 83599NED / 85081NED / 80472ned / 80473ned / 80474ned / 84545NED / 80567ned / 80857ned / 84287NED

## Vraag 2

Haal nu de data op van de tabel

In [43]:
cbs_data = cbsodata.get_data('70992eng')

## Vraag 3
Zet de data in een pandas dataframe

In [52]:
cbs_data_df = pd.DataFrame(cbs_data)
display(cbs_data_df.head())

,ID,ImportsAndExports,Periods,ValueIndicesOriginal_1,ValueIndicesWorkingDayAdjusted_2,PriceIndicesOriginal_3,VolumeIndicesOriginal_4,VolumeIndicesWorkingDayAdjusted_5,ValueChangesOriginal_6,WorkingDayAdjustedValueChanges_7,PriceChangesOriginal_8,VolumeChangesOriginal_9,VolumeChangesWorkingDayAdjusted_10
0,0,Imports,1990 January,48.9,48.0,106.7,45.9,45.1,NaN,NaN,NaN,NaN,NaN
1,1,Imports,1990 February,45.8,46.2,105.4,43.5,43.9,NaN,NaN,NaN,NaN,NaN
2,2,Imports,1990 March,50.5,50.4,104.0,48.5,48.5,NaN,NaN,NaN,NaN,NaN
3,3,Imports,1990 1st quarter,48.4,48.2,105.4,45.9,45.8,NaN,NaN,NaN,NaN,NaN
4,4,Imports,1990 April,47.9,49.0,104.5,45.8,46.9,NaN,NaN,NaN,NaN,NaN

## Vraag 4

Kies zelf een website en probeer de html code van de website af te halen met requests. Probeer vervolgens ssn specifiek html element op te halen van de html pagina.

In [7]:

import requests
from bs4 import BeautifulSoup

page = requests.get('http://www.kasteleinweb.nl')

html = page.text

soup = BeautifulSoup(html, 'html.parser')
element = soup.find('header')


display(element)

<header class="entry-header">
<h1>Home</h1>
</header>