Import libraries

In [162]:
import pandas as pd
import numpy as np

Load Dataset

In [163]:
filename = 'Dataset1 week 9.csv'

data = pd.read_csv(filename, sep=';')
display(data.head())
display (data.info())

for kol in data.columns:
    if kol != 'Waarde':
        print(data[kol].unique())

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920 entries, 0 to 1919
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Geslacht                            1920 non-null   object
 1   Bedrijfstakken/branches (SBI 2008)  1920 non-null   object
 2   Perioden                            1920 non-null   int64
 3   Onderwerp                           1920 non-null   object
 4   Type werkenden                      1920 non-null   object
 5   Waarde                              1920 non-null   int64
dtypes: int64(2), object(4)
memory usage: 90.1+ KB

None

['Mannen' 'Vrouwen']
['A Landbouw, bosbouw en visserij' 'B Delfstoffenwinning' 'C Industrie'
 'D Energievoorziening' 'E Waterbedrijven en afvalbeheer'
 'F Bouwnijverheid' 'G Handel' 'H Vervoer en opslag' 'I Horeca'
 'J Informatie en communicatie' 'K FinanciÃ«le dienstverlening'
 'L Verhuur en handel van onroerend goed'
 'M Specialistische zakelijke diensten'
 'N Verhuur en overige zakelijke diensten'
 'O Openbaar bestuur en overheidsdiensten' 'P Onderwijs'
 'Q Gezondheids- en welzijnszorg' 'R Cultuur, sport en recreatie'
 'S Overige dienstverlening' 'T Huishoudens']
[2013 2014 2015 2016 2017 2018]
['Werkzame personen' 'Banen' 'Arbeidsjaren' 'Gewerkte uren']
['Werknemers' 'Zelfstandigen']

Hoeveel banen waren er in 2018?

In [164]:
banen2018 = data[(data['Perioden']==2018)
                & (data['Onderwerp']=='Banen')]

print ('Banen in 2018:',banen2018['Waarde'].sum())

Banen in 2018: 10564

Wat is in de jaren 2013-2018 het maximaal aantal personen werkzaam geweest in de Landbouw, bosbouw en visserij?

In [165]:
personen_labovi = data[data['Bedrijfstakken/branches (SBI 2008)']=='A Landbouw, bosbouw en visserij']
# display(personen_labovi.loc[personen_labovi['Waarde']==personen_labovi['Waarde'].max(), ['Perioden','Type werkenden', 'Waarde']])

data[(data['Bedrijfstakken/branches (SBI 2008)']=='A Landbouw, bosbouw en visserij') &
     (data['Onderwerp']=='Werkzame personen')].groupby('Perioden').sum().max()

C:\Users\adrka\AppData\Local\Temp\ipykernel_4064\2835651762.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (data['Onderwerp']=='Werkzame personen')].groupby('Perioden').sum().max()

Waarde    200
dtype: int64

Werken er meer mannen of meer vrouwen in de gezondheidszorg?

In [199]:
personen_gezondheid = data[data['Bedrijfstakken/branches (SBI 2008)'].str.lower().str.contains('gezondheid')]


ghz_mannen =personen_gezondheid.loc[personen_gezondheid['Geslacht'] == 'Mannen', 'Waarde'].sum()
ghz_vrouwen =personen_gezondheid.loc[personen_gezondheid['Geslacht'] == 'Vrouwen', 'Waarde'].sum()

if ghz_mannen > ghz_vrouwen:
    print ('Er werken weer mannen in de gezondheidszorg')
else:
    print ('Er werken meer vrouwen in de gezondheidszorg')
    

ghz_personeel = personen_gezondheid.groupby('Geslacht')['Waarde'].sum().reset_index()


print('\n----of----\n')

print ('Er werken meer %s in de gezondheidszorg.' %(ghz_personeel.loc[ ghz_personeel['Waarde'] == 
                                                                        ghz_personeel['Waarde'].max(), 'Geslacht'].values[0]))

Er werken meer vrouwen in de gezondheidszorg

----of----

Er werken meer Vrouwen in de gezondheidszorg.

Wat is de procentuele stijging in arbeidsjaren tussen 2015 en 2014?

In [200]:
arbeid_2014 = data.loc[(data['Perioden']==2014) & (data['Onderwerp']=='Arbeidsjaren') , 'Waarde'].sum()
arbeid_2015 = data.loc[(data['Perioden']==2015) & (data['Onderwerp']=='Arbeidsjaren') , 'Waarde'].sum()

display(arbeid_2014,arbeid_2015)
stijging2014_2015 = (arbeid_2015 - arbeid_2014) / arbeid_2014

print ('procentuelen stijging tussen 2014 en 2015 is: %f%% '%(stijging2014_2015*100))

#Wat is de procentuele stijging in arbeidsjaren tussen 2015 en 2014
jaar2015 = data[(data['Perioden'] == 2015) & (data['Onderwerp'] == 'Arbeidsjaren')]['Waarde'].sum()
jaar2014 = data[(data['Perioden'] == 2014) & (data['Onderwerp'] == 'Arbeidsjaren')]['Waarde'].sum()

display (jaar2015 / jaar2014) # *100%?
data.dropna

6925

7013

procentuelen stijging tussen 2014 en 2015 is: 1.270758%

1.0127075812274369

Welk type banen (werkenden en zelfstandigen) is het meest gestegen in de periode 2013-2018?

In [ ]:
werkenden2013 = data[(data['Perioden']==2013) & (data['Onderwerp']=='Banen')].pivot_table(index='Bedrijfstakken/branches (SBI 2008)', values='Waarde', aggfunc='sum')

werkenden2018 = data[(data['Perioden']==2018) & (data['Onderwerp']=='Banen')].pivot_table(index='Bedrijfstakken/branches (SBI 2008)', values='Waarde', aggfunc='sum')


stijging_2013_2018 = (werkenden2018-werkenden2013) / werkenden2013


type_werkenden_meeste_stijging = stijging_2013_2018[stijging_2013_2018['Waarde']==stijging_2013_2018['Waarde'].max()]


print('Type banen met de meeste stijging is "%s" met %.2f%%.'
      %(type_werkenden_meeste_stijging.index[0], type_werkenden_meeste_stijging.values[0]))

Type banen met de meeste stijging is "N Verhuur en overige zakelijke diensten" met 0.24%.