# Introduction to Python 1

## 1. Python als rekenmachine

### 1.1 Rekenkundige symbolen

Toon het resultaat van:
- 8 maal 10
- 10 tot de derde macht
- 300 min 25 maal 10 (controleer of de rekenregels goed worden toegepast)

Gebruik de 3 onderstaande cellen voor je oplossingen.

In [2]:
8 * 10

80

In [3]:
10**3

1000

In [1]:
300 - 25 * 10

50

### 1.2 Printen van resultaten

Gebruik de print functie om het resultaat van onderstaande berekeningen te tonen in 1 cel:
- 8 maal 10
- 10 tot de derde macht
- 300 min 25 maal 10 (controleer of de rekenregels goed worden toegepast)

In [3]:
print(8*10, 10**3, 300-25 * 10)

80 1000 50

- Wat gebeurt er als je een hashtag (#) voor 1 van de print statements zet? Dat wordt gezien als een comment en niet uitgevoerd.

### 1.3 Rekensymbolen
- Vermenigvuldigen: *
- Delen: /
- Modulo: %
- Exponent: **

Gebruik de print functie om antwoord te geven op onderstaande vragem:
- Hoeveel is 7 modulo 2?
- Hoeveel is 9 modulo 3?
- Hoeveel 11 modulo 3?

In [4]:
print( 7%2)
print(9%3)
print(11%3)

1
0
2

- Leg in onderstaande cel in je eigen woorden uit wat modulo is.

Jouw antwoord:

modulo is getal wat overblijft na een deling

### 1.4 Financiele rekenkunde

Stel je hebt $100 en je kunt dit investeren met een rendement van 10% per jaar. Na 1 jaar heb je dan 100 x 1,1 = 110 dollar. Na 2 jaar is dit 100 x 1,1 x 1,1= 121 dollar.
- Print in onderstaande cel hoeveel geld je hebt na 7 jaar.

In [5]:
print(100 * 1.1 ** 7)

194.87171000000012

## 2. Variabelen en types
### 2.1 Variabelen

- Definieer de volgende variabelen en wijs er waarden aan toe:

quantity:
de verkochte hoeveelheid is 1000.

price:
de verkoopprijs is 3.65

turnover:
de omzet is de verkoopprijs maal de hoeveelheid.

- Gebruik de variabelen om de omzet te printen.

In [6]:
quantity = 1000
price = 3.65
turnover= quantity * price
print (turnover)

3650.0

### 2.2 Naamgevingsconventies
- Wat zijn de belangrijkste 'conventies' voor namen van variabelen?
- Waarom is het belangrijk om je aan de conventies te houden?

Antwoord:

- Voer de code in onderstaande cel uit. Het resultaat is 10 omdat dat het hoogste getal in de reeks is. 
- Verwijder nu de hashtag voor max = 15 en voer de cel nogmaals uit. Wat gebeurt er?

In [1]:
#max = 15
highest = max([8,3,10])
print(highest)

10

- Je moet nu de kernel herstarten om ervoor te zorgen dat max() weer werkt.

### 2.3 Financiele rekenkunde met variabelen
Hierboven deed je de volgende opgave:
Stel je hebt $100 en je kunt dit investeren met een rendement van 10% per jaar. Na 1 jaar heb je dan 100 x 1,1 = 110 dollar. Na 2 jaar is dit 100 x 1,1 x 1,1= 121 dollar. Bepaal hoeveel geld je hebt na 7 jaar.

- Print het resultaat opnieuw maar maak nu gebruik van de volgende variabelen: savings, multiplier, years and result

In [14]:
savings = 100
multiplier = 1.1
years = 7
result = savings * multiplier**years
print (result)

194.87171000000012

### 2.4 Types
- Pas de functie type() toe om te bepalen welke datatype savings, multiplier, years en result hebben.
- Print de resultaten.

In [15]:
print (type(savings))
print (type(multiplier))
print (type(years))
print (type(result))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

- Wat is het verschil tussen integers en floats

Antwoord: Integers zijn hele getallen en hebben geen decimale punt, een float heeft wel een decimale punt.

- Maak variabelen met je naam en je geslacht. Bijvoorbeeld:

my_name = "Erik van den Ham"  
male = True

- Print de types van beide variabelen.

In [16]:
my_name = "Ariaan Kastelein"
male= True
print (type(my_name))
print (type(male))

<class 'str'>
<class 'bool'>

- Leg in onderstaande cel uit wat de volgende types zijn: string, float, integer and Boolean.

Antwoord: 
string is een verzameling van een reeks karakters, leters, getallen
float is een getal met een decimale punt (positief of negatief)
int is een heel getal, zonder decimale punt (positief of negatief)
Boolean heeft twee waardes True(1) of False(0)

Soms zijn getallen opgeslagen als strings. De variabele number bevat de string "123:.
- Zet de string om in een integer.
- Print het type van number.

In [18]:
number = "123"
number = int(number)
print(type(number))

<class 'int'>

### 2.5 Bewerkingen met strings
- Zet de variabele number weer om in een string.
- Maak de variabele add_number die de optelsom van number plus number bevat.
- Print add_number.

In [21]:
number = str(number)
add_number = number + number
print(add_number)

123123

Je ziet hier dat de '+ operator' zich anders gedraagt bij een string dan bij een integer of float.

### 2.6 Printen van combinaties van verschillende data types.

Om variabelen met meerdere types te kunnen printen met 1 print functie, zul je alle variabelen moeten omzetten naar een string. 
Met + kun je vervolgens de variabelen samenvoegen. In opdracht 2.4 heb je de volgende variabelen gemaakt: my_name and male. Deze variabelen hebben een verschillend data type. 

- Print onderstaande tekst gebruikmakend van beide variabelen. Vervang de naam door jouw naam. 

My name is Erik van den Ham and I am a man. This is: True

In [23]:
# hint: print('My name is "+ my_name + _______________________ ")
print ('My name is ' + my_name + ' and I am a man. This is: ' + str(male))

My name is Ariaan Kastelein and I am a man. This is: True

### 2.7 Integratie opdracht

In deze module zullen we vaak een dataset gebruiken waarmee je winkelomzet kunt voorspellen. Voor nu gebruiken we een deel van deze dataset om te oefenen met wat je net hebt geleerd.

**Data:**  
Roger is the store manager of store number 1 in Swinton that has a floor space of 18526  
Ella is the store manager of store number 2 in Stamford that has a floor space of 18569  
Valentina is the store manager of store number 3 in Skipton that has a floor space of 12288  

Opdracht:
- Maak variabelen voor de store managers, plaatsen en winkeloppervlaktes (floor spaces). In totaal gaat het om 9 variabelen.
- Maak ook een variabele met daarin het aantal winkels (3).
- Maak gebruik van de variabelen om de gemiddelde winkeloppervlakte (floor space) te berekenen. Wijs het resultaat toe aan een variabele.
- Print het type van 1 van de store manager variabelen en van 1 van de oppervlakte variabelen.
- Print het volgende met behulp van de variabelen: "Roger is the store manager of the store in Swinton that has a floor space of 18526".

In [26]:
# variables:
managers = ["Roger", "Ella", "Valentina"]
plaatsen = ["Swinton", "Stamford", "skipton"]
winkeloppervlaktes = [18526, 18569, 12288]
aantalwinkels = 3


# data type
print (type(managers[0]))
print (type(winkeloppervlaktes[0]))


# calculate and print the average floor space:
gem_winkeloppervlakte = sum(winkeloppervlaktes) / aantalwinkels
print (gem_winkeloppervlakte)


# Print sentence:
print (managers[0] + " is the strore manager of the store in " + plaatsen[0] + " that has a floor space of " + str(winkeloppervlaktes[0]))

<class 'str'>
<class 'int'>
16461.0
Roger is the strore manager of the store in Swinton that has a floor space of 18526